@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
.navbar-details{
    width: 100%;
    height: 10.3vh;
    overflow: hidden;
    margin-bottom: 5%;
}
.navlink-productdetails{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    padding: 10px 24px;
    background: #1F1F1F;
    z-index: 2;
    position: fixed;
}
.white{
    box-shadow: rgb(78, 78, 78) 0px 0px 7px;
    background: rgb(31,31,31);
}
.navlink-productdetails .link-productdetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 100%;
}
.navlink-productdetails .link-productdetails .logo-productdetails {
    width: 20%;
    display: flex;
    height: 100%;
    justify-content: start;
    text-align: center;
}
.navlink-productdetails .link-productdetails .logo-productdetails > a {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-left: -7px;
}

.navlink-productdetails .link-productdetails .logo-productdetails > a > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.navlink-productdetails .link-productdetails .link-page-product {
    width: 77%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0;
}
.navlink-productdetails .link-productdetails .link-page-product > li{
    margin: auto;
    list-style: none;
}
.navlink-productdetails .link-productdetails .link-page-product > li > .links-product{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #fffbfb;
    display: inline-block;
}
.navlink-productdetails .link-productdetails .link-page-product > li > .links-hamburger{
    display: none;
}
.navlink-productdetails .link-productdetails .link-page-product > li > a.active {
    color: #f5cb5f;
}.navlink-productdetails .link-productdetails .link-page-product > li > a:hover{
     color: #f5cb5f;
 }
.navlink-productdetails .cart-in {
    display: flex;
    justify-content: space-between;
    width: 15%;
    height: 100%;
    align-items: center;
    z-index: 2;
}

.navlink-productdetails .cart-in .cart > a > i{
    font-size: 25px;
    color: white;
    margin: 0;
}
.navlink-productdetails .cart-in .sign-in{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navlink-productdetails .cart-in .sign-in > a {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    transition: 0.5s;
}

.navlink-productdetails .cart-in .sign-in > a:hover{
    background: white;
    color: black;
}

.navlink-productdetails .link-productdetails .link-page-product > li > .links-hamburger{
    display: none;
}

.navlink-productdetails .search-home-product{
    position: relative;
    margin-right: 30px;
}

.navlink-productdetails .search-home-product .form-control-product > a{
    position: absolute;
    right: 1%;
    width: 30px;
    height: 30px;
    color: #3d3939;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    top: 1%;
    text-decoration: none;
}

.navlink-productdetails .search-home-product .form-control-product > input{
    padding: 8px 13px;
    border-radius: 30px;
    outline: none;
    border: none;
    overflow: hidden;
}

/*Menu-hamburger*/
.navlink-productdetails .menu-hamburger-product{
    width: 4%;
    height: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    display: none;
}

.navlink-productdetails .menu-hamburger-product .line{
    width: 24px;
    height: 3px;
    background: #fffbfb;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

/*Main*/

.main-details{
    width: 100%;
    padding: 0 90px;
}
.main-details > .product-details{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 5%;
}
.main-details .product-details .image-details{
    width: 30%;
    height: 60vh;
}
.main-details .product-details .image-details > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-details .product-details .information-product {
    width: 56%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
    border-left: 1px solid #c7b9b9;
    padding: 0px 40px;
}

.main-details .product-details .information-product .title-details {
    padding: 10px 0;
    background: #eaeaea;
}
.main-details .product-details .information-product .title-details > p{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 3px;
}
.main-details .product-details .information-product .price-details{
    padding: 10px 0;
}
.main-details .product-details .information-product .price-details > p{
    font-weight: bold;
    font-size: 19px;
    font-family: 'Oswald', sans-serif;
    color: #e2b86b;
}

.main-details .product-details .information-product .option-detail > .option-color{
    display: flex;
    align-items: center;
    margin-bottom: 3%;
}
.main-details .product-details .information-product .option-detail > .option-color .color{
    width: 15%;
    padding: 5px 7px;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
.main-details .product-details .information-product .option-detail > .option-color > p{
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
}


.main-details .product-details .information-product .option-detail > .option-size{
    display: flex;
    align-items: center;
    margin-bottom: 3%;
}
.main-details .product-details .information-product .option-detail > .option-size .size{
    width: 15%;
    padding: 5px 7px;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
.main-details .product-details .information-product .option-detail > .option-size > p{
    margin-right: 20px;
    font-size: 14px;
    font-weight: bold;
}
.main-details .product-details .information-product  .addToCart{
    margin-bottom: 3%;
}
.main-details .product-details .information-product  .addToCart .add{
    width: 20%;
    height: 6vh;
    cursor: pointer;
    border: none;
    color: #fffbfb;
    background: #0B1218;
    outline: none;
    transition: 0.5s;
    padding: 5px 7px;
}
.main-details .product-details .information-product  .addToCart .add:hover {
    background: #444447;
}
.main-details .product-details .information-product .description {
    list-style: none;
    font-size: 14px;
    margin-bottom: 3%;
    line-height: 23px;
}



.main-details .product-details .information-product .content-details > p{
    font-size: 15px;
}

.main-details .product-details .information-product .share > p{
    font-weight: bold;
    margin-bottom: 2%;
    text-transform: uppercase;
    font-size: 14px;
}
.main-details .product-details .information-product .share .social-network{
    list-style: none;
    display: flex;
}
.main-details .product-details .information-product .share .social-network > li{
    margin-right: 20px;
}


.main-details .product-details .information-product .share .social-network > li > a{
    color: black;
    text-decoration: none;
    font-size: 19px;
}

.main-details .product-details .information-product .share .social-network > li > a:hover{
    color: #e2b86b;
}

.title-related{
    width: 100%;
    text-align: center;
    margin-bottom: 1%;
}
.title-related > p{
    margin: 0;
    padding: 30px 0;
    font-weight: bold;
    font-size: 23px;

}

.related-product {
    margin-bottom: 5%;
}
.related-product .list-related{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
}
.related-product .list-related .product{
    flex: 22%;
    height: 28rem;
}
.related-product .list-related .product .them{
    width: 100%;
    height: 23rem;
    position: relative;
}
.related-product .list-related .product .them .image-product{
    width: 100%;
    height: 100%;
}

.related-product .list-related .product .them .image-product > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.related-product .list-related .product .them .addTo{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    margin: 0;
    background: #3d39394d;
    opacity: 0;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.related-product .list-related .product .them .addTo:hover{
    opacity: 1;
}
.related-product .list-related .product .them .addTo > a {
    border-radius: 3px;
    text-decoration: none;
    color: #3d3939;
    background: #fffbfb;
    font-weight: bold;
    font-size: 13px;
    transition: 0.3s;
    width: 73%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    padding: 5px 10px;
    margin-bottom: 3%;
}
.related-product .list-related .product .them .addTo > a:hover{
    color: #fffbfb;
    background: black;
}


.related-product .list-related .product .price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 8vh;
    padding: 0px 7px;
}
.related-product .list-related .product .price > p{
    margin: 0;
    color: #e2b86b;
    border-left: 1px solid #3d3939;
    padding-left: 30px;
    font-weight: bold;
}


/*Footer*/

.footer{
    width: 100%;
    padding: 70px 60px;
    background: rgb(31,31,31);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
}
.berryberri{
    padding-right: 20px;
}
.berryberri .logo-footer{
    width: 100%;
    height: 3rem;
    margin-bottom: 3%;
    overflow: hidden;
}
.berryberri .logo-footer > a{
    width: 40%;
    height: 100%;
    display: inline-block;
    transform: translateX(-4%);
}
.berryberri .logo-footer > a >img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.berryberri .content-footer{
    margin-bottom: 5%;
}
.berryberri .content-footer > span{
    font-size: 15px;
    color: #fffbfb;
}

.berryberri .find-us > p{
    font-size: 20px;
    font-weight: bold;
    color: #fffbfb;
}
.berryberri .find-us .icon > a{
    margin-right: 5%;
    font-size: 22px;
    color: #fffbfb;
}
.customer-services{
    padding-right: 20px;
}
.customer-services > p{
    font-size: 20px;
    font-weight: bold;
    color: #fffbfb;
}
.customer-services .list-content{
}
.customer-services .list-content >a{
    display: block;
    margin-bottom: 3%;
    text-decoration: none;
    color: #f1eeee;
}
.news{
}
.news > p{
    font-size: 20px;
    font-weight: bold;
    color: #fffbfb;
}
.news > span{
    font-size: 15px;
    color: #fffbfb;
}
.form .form-control{
    width: 89%;
    padding: 0;
    margin: 0;
    border: none;
    margin-bottom: 6%;
}
.form .form-control > input{
    width: 100%;
    padding: 3px 9px;
    height: 100%;
    outline: none;
}
.form .title-address > p{
    color: #fffbfb;
    margin-top: 3%;
}
.form .sex{
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr 1fr;
    margin-bottom: 6%;
}
.form .sex > a{
    text-align: center;
    color: #fffbfb;
    padding: 10px 30px;
    text-decoration: none;
    border: 3px solid #fffbfb;
    transition: 0.5s;
    font-weight: bold;
}
.form .sex > a:hover{
    background: #fffbfb;
    color: #3d3939;
}
.form .sex .male{
    grid-column: 3/4;
}
.form .privacy{
    font-size: 15px;
    margin-bottom: 3%;
}
.form .privacy > a{
    text-decoration: none;
    color: #fffbfb;
    margin-right: 5%;
}
.form > span{
    font-size: 14px;
    color: #fffbfb;
}







@media screen and (max-width: 1024px) {
    .main-details{
        padding: 0;
    }
    .main-details .product-details .information-product .addToCart .add {
        width: 22%;
        height: 5vh;
    }
    .navlink-productdetails .link-productdetails .logo-productdetails {
        width: 25%;
    }
    .navlink-productdetails .link-productdetails {
        width: 55%;
    }
    .navlink-productdetails .link-productdetails .link-page-product {
        width: 75%;
    }
    .navlink-productdetails .link-productdetails .link-page-product > li > .links-product{
        font-size: 13px;
    }
    .navlink-productdetails .cart-in .sign-in > a {
        font-size: 13px;
    }
    .carousel .carousel-inner .carousel-item .slide-content {
        width: 40%;
        top: 28%;
    }
    .carousel .carousel-inner .carousel-item .slide-content > p {
        font-size: 30px;
        margin-bottom: 5%;
    }
    .carousel .carousel-inner .carousel-item .slide-content > a {
        padding: 13px 29px;
    }
    .berryberri .logo-footer > a {
        width: 25%;
    }
}

@media screen and (max-width: 970px){
    .main-details{
        padding: 0 4px;
    }
    .related-product .list-related{
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        gap: 10px;
    }
    .related-product .list-product .product {
        margin: 10px;
        height: 28rem;
    }
    .customer-services {
        display: none;
    }
    .news{
        display: none;
    }
    .berryberri {
        grid-column: 1/5;
        text-align: center;
    }
    .menu-items .content > a {
        overflow: hidden;
    }
    .menu-items .content > a > p {
        font-size: 13px;
    }
    .menu-items .content > a > span {
        font-size: 11px;
    }
    .navbar-listproduct{
        height: 60vh;
    }
    .navlink-productdetails{
        height: 10vh;
        background: rgb(31,31,31);
    }
    .navlink-productdetails .link-productdetails{
        width: 65%;
    }
    .navlink-productdetails .link-productdetails .logo-productdetails {
        width: 30%;
    }
    .navlink-productdetails .link-productdetails .link-page-product.nav-actives{
        transform: translateX(0);
    }
    .navlink-productdetails .link-productdetails .link-page-product {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        width: 50%;
        background: rgb(31,31,31);
        right: 0;
        transition: 0.5s ease-in-out;
        height: 90vh;
        transform: translateX(100%);
    }
    .navlink-productdetails .cart-in .sign-in{
        display: none;
    }
    .navlink-productdetails .link-productdetails .link-page-product > li > .links-hamburger{
        display: block;
    }
    .navlink-productdetails .menu-hamburger-product{
        display: block;
    }
    .navlink-productdetails .cart-in .cart > a > i {
        font-size: 22px;
        color: white;
        margin: 0;
    }

    .berryberri .logo-footer > a {
        width: 25%;
    }
    .nav-links-product .cart-in {
        width: 6%;
        margin-right: 30px;
    }
    /**/
}

@media screen and (max-width: 724px) {
    .related-product .list-related {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .nav-links-product .link-productdetails .logo-productdetails {
        width: 40%;
    }

    .related-product .list-related {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 0 26px;
    }
    .main-details .product-details .image-details {
        width: 40%;
        height: 50vh;
    }
    .main-details .product-details .information-product {
       border: none;
        padding: 0;
        padding-left: 20px;
    }
    .main-details .product-details .information-product .addToCart .add {
        width: 27%;
        height: 5vh;
    }
    .main-details .product-details .information-product .option-detail > .option-size .size {
        width: 25%;
    }
    .main-details .product-details .information-product .option-detail > .option-color .color {
         width: 25%;
     }
}
@media screen and (max-width: 500px){
    .related-product .list-related{
        grid-template-columns: 1fr 1fr;
        gap: 3px;
    }
    .related-product .list-related .product {
        margin: 10px;
        height: 28rem;
    }
    .menu-items .content > a > p {
        font-size: 13px;
    }
    .menu-items .content > a > span {
        font-size: 11px;
    }
    .related-product .list-related .product .price > span {
        font-size: 14px;
    }
    .navlink-productdetails{
        padding: 10px 20px;
        height: 10vh;
        background: rgb(31,31,31);
    }
    .navlink-productdetails .link-product {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        height: 100%;
    }
    .navlink-productdetails .link-productdetails .logo-productdetails {
        width: 80%;
    }

    .navlink-productdetails .link-productdetails .link-page-product{
        width: 100%;
    }
    .title-body > p {
        font-size: 18px;
    }
    .main-product .list-related .product .them .addTo > a {
        width: 80%;
        height: 9%;

    }
    .berryberri .logo-footer > a {
        width: 40%;
    }
    .main-details .product-details .image-details {
        width: 50%;
        height: 45vh;
    }
    .main-details .product-details .information-product .option-detail > .option-color .color {
        width: 43%;
    }
    .main-details .product-details .information-product .option-detail > .option-size .size {
        width: 44%;
    }
    .main-details .product-details .information-product .addToCart .add {
        width: 45%;
        height: 5vh;
    }
    .main-details .product-details .information-product {
        width: 56%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 60vh;
        border: none;
        padding: 0;
        padding-left: 20px;
    }
    .main-details .product-details .information-product .content-details > p {
        font-size: 14px;
    }
    .related-product .list-related {
        padding: 0;
    }
    .main-details > .product-details {
        padding: 0 10px;
    }
    /**/
}



.toggle #line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle #line2{
    opacity: 0;
}

.toggle #line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.nav-actives{
    transform: translateX(0);
}
