/*@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto Thin";
}
.container{
    /*border: 1px solid black;*/
}
.check-out{
    font-size: 40px;
    padding: 30px 0px;
}
.border-left{
    float: left;
    margin-bottom: 5%;
}
.border-right{
    float: right;
    border: 1px solid #d2cfcf;
    margin-top: 30px;
    padding: 20px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}
.text{
    background-color: #E0E0E0;
    width: 100%;
    float: left;
    margin: 30px 0;
}
.cart{
    width: 100%;
    float: left;
    margin-bottom: 3%;
}
.product{
    width: 30%;
    float: left;
    text-align: center;
    padding: 20px 0px;
}
.description{
    width: 20%;
    float: left;
    text-align: center;
    padding: 20px 0px;
}
.quantity{
    width: 20%;
    float: left;
    text-align: center;
    padding: 20px 0px;
}
.price{
    width: 20%;
    float: left;
    text-align: center;
    padding: 20px 0px;
}
.remove{
    width: 10%;
    float: left;
    text-align: center;
    padding: 20px 0px;
}
.img{
    width: 30%;
    float: left;
    height: 255px;
}
.img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title{
    width: 20%;
    float: left;
    text-align: center;
    font-size: 15px;
    padding: 110px 0px;
}
.count{
    width: 20%;
    float: left;
    text-align: center;
    padding: 105px 0px;
}
.price1{
    width: 20%;
    float: left;
    font-size: 15px;
    text-align: center;
    padding: 110px 0px;
}
.icon-remove{
    width: 10%;
    float: left;
    text-align: center;
    padding: 110px 0px;
}
.input-button{
    width: 40px;
    height: 30px;
}
.subtotal{
    width: 100%;
    float: left
}
.payment{
    background-color: black;
    width: 100%;
    float: left;
    height: 40px;
    margin: 20px 0px;
    border-radius: 5px;
    cursor: pointer;
}
.payment h6{
    padding: 7px 0px;
    font-size: 15px;
}
/*--------------------------------------------------footer----------------------------------------*/
.footer{
    width: 100%;
    padding: 70px 60px;
    background: rgb(31,31,31);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
}
.berryberri{
    padding-right: 20px;
}
.berryberri .logo-footer{
    width: 100%;
    height: 3rem;
    margin-bottom: 3%;
    overflow: hidden;
}
.berryberri .logo-footer > a{
    width: 40%;
    height: 100%;
    display: inline-block;
    transform: translateX(-4%);
}
.berryberri .logo-footer > a >img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.berryberri .content-footer{
    margin-bottom: 5%;
}
.berryberri .content-footer > span{
    font-size: 15px;
    color: #fffbfb;
}

.berryberri .find-us > p{
    font-size: 20px;
    font-weight: bold;
    color: #fffbfb;
}
.berryberri .find-us .icon > a{
    margin-right: 5%;
    font-size: 22px;
    color: #fffbfb;
}
.customer-services{
    padding-right: 20px;
}
.customer-services > p{
    font-size: 20px;
    font-weight: bold;
    color: #fffbfb;
}
.customer-services .list-content{
}
.customer-services .list-content >a{
    display: block;
    margin-bottom: 3%;
    text-decoration: none;
    color: #f1eeee;
}
.news{
}
.news > p{
    font-size: 20px;
    font-weight: bold;
    color: #fffbfb;
}
.news > span{
    font-size: 15px;
    color: #fffbfb;
}
.form .form-control{
    width: 89%;
    padding: 0;
    margin: 0;
    border: none;
    margin-bottom: 6%;
}
.form .form-control > input{
    width: 100%;
    padding: 3px 9px;
    height: 100%;
    outline: none;
}
.form .title-address > p{
    color: #fffbfb;
    margin-top: 3%;
}
.form .sex{
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr 1fr;
    margin-bottom: 6%;
}
.form .sex > a{
    text-align: center;
    color: #fffbfb;
    padding: 10px 30px;
    text-decoration: none;
    border: 3px solid #fffbfb;
    transition: 0.5s;
    font-weight: bold;
}
.form .sex > a:hover{
    background: #fffbfb;
    color: #3d3939;
}
.form .sex .male{
    grid-column: 3/4;
}
.form .privacy{
    font-size: 15px;
    margin-bottom: 3%;
}
.form .privacy > a{
    text-decoration: none;
    color: #fffbfb;
    margin-right: 5%;
}
.form > span{
    font-size: 14px;
    color: #fffbfb;
}

@media screen and (max-width: 500px){
    .text .product > b{
        font-size: 13px;
    }
}

/*-------------------------------Header--------------------------------*/
.navbar-listproduct{
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 5%;
}

.nav-links-product{
    position: absolute;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    padding: 10px 24px;
    background: #221e1e;
    z-index: 2;
    position: fixed;

}
.white{
    box-shadow: rgb(78, 78, 78) 0px 0px 7px;
    background: rgb(31,31,31);
    z-index: 5;
}
.nav-links-product .link-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 100%;
}
.nav-links-product .link-product .logo-product {
    width: 20%;
    display: flex;
    height: 100%;
    justify-content: start;
    text-align: center;
}
.nav-links-product .link-product .logo-product > a {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-left: -7px;
}

.nav-links-product .link-product .logo-product > a > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav-links-product .link-product .link-page-product {
    width: 77%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0;
}
.nav-links-product .link-product .link-page-product > li{
    margin: auto;
    list-style: none;
}
.nav-links-product .link-product .link-page-product > li > .links-product{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #fffbfb;
    display: inline-block;
}
.nav-links-product .link-product .link-page-product > li > .links-hamburger{
    display: none;
}
.nav-links-product .link-product .link-page-product > li > a.active {
    color: #f5cb5f;
}.nav-links-product .link-product .link-page-product > li > a:hover{
     color: #f5cb5f;
 }
.nav-links-product .cart-in {
    display: flex;
    justify-content: space-between;
    width: 15%;
    height: 100%;
    align-items: center;
    z-index: 2;
}

.nav-links-product .cart-in .cart > a > i{
    font-size: 25px;
    color: white;
    margin: 0;
}
.nav-links-product .cart-in .sign-in{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-links-product .cart-in .sign-in > a {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    transition: 0.5s;
}
.nav-links-product .cart-in .sign-in > a:hover{
    background: white;
    color: black;
}
.nav-links-product .link-product .link-page-product > li > .links-hamburger{
    display: none;
}

.nav-links-product .search-home-product{
    position: relative;
    margin-right: 30px;
}
.nav-links-product .search-home-product .form-control-product > a{
    position: absolute;
    right: 1%;
    width: 30px;
    height: 30px;
    color: #3d3939;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    top: 1%;
    text-decoration: none;
}
.nav-links-product .search-home-product .form-control-product > input{
    padding: 4px 13px;
    border-radius: 30px;
    outline: none;
    border: none;
    overflow: hidden;
}
.nav-links-product .search-home-product .form-control-product > a:hover{

}

/*Menu-hamburger*/
.nav-links-product .menu-hamburger-product{
    width: 4%;
    height: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    display: none;
}
.nav-links-product .menu-hamburger-product .line{
    width: 24px;
    height: 3px;
    background: #fffbfb;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
